@model MVC.Models.Ferramentum

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Equipamentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoId" class="control-label"></label>
                <select asp-for="SituacaoId" class="form-control" asp-items="ViewBag.SituacaoId"></select>
                <span asp-validation-for="SituacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioCadastroFuncional" class="control-label"></label>
                <select asp-for="FuncionarioCadastroFuncional" class="form-control" asp-items="ViewBag.FuncionarioCadastroFuncional"></select>
                <span asp-validation-for="FuncionarioCadastroFuncional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDiaria" class="control-label"></label>
                <input asp-for="ValorDiaria" class="form-control" />
                <span asp-validation-for="ValorDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCompra" class="control-label"></label>
                <input asp-for="ValorCompra" class="form-control" />
                <span asp-validation-for="ValorCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
               
            </div>
        </form>
     </div>
    </div>
  <div>
    <a asp-action="Index" >Back to List</a>
  </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
