@model MVC.Models.Ferramentum

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")


        <div class="col-6 py-6 container-fluid">
            <div class="table-bg" style="max-height: 100vh; overflow:auto;">

                <form class="d-flex flex-column gap-2" asp-action="Edit">
                    <h3>Editar Ferramenta</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Codigo" />
                    <div class="form-group">
                        <label asp-for="TipoId" class="control-label"></label>
                        <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                        <span asp-validation-for="TipoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div hidden class="form-group">
                        <label asp-for="SituacaoId" class="control-label"></label>
                        <select asp-for="SituacaoId" class="form-control" asp-items="ViewBag.SituacaoId"></select>
                        <span asp-validation-for="SituacaoId" class="text-danger"></span>
                    </div>


                    @*disponibilidade diretamente na view *@

                    <div class="form-group">
                        <label>Situação</label>
                        <p>@((Model.Quantidade >= 1) ? "Disponível" : "Indisponível")</p>
                    </div>



                    <div class="form-group">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FuncionarioCadastroFuncional" class="control-label"></label>
                        <select asp-for="FuncionarioCadastroFuncional" class="form-control" asp-items="ViewBag.FuncionarioCadastroFuncional"></select>
                        <span asp-validation-for="FuncionarioCadastroFuncional" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="ValorDiaria" class="control-label"></label>
                        <input asp-for="ValorDiaria" class="form-control" />
                        <span asp-validation-for="ValorDiaria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorCompra" class="control-label"></label>
                        <input asp-for="ValorCompra" class="form-control" />
                        <span asp-validation-for="ValorCompra" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <div class="form-group mt-3">
                            <a class="btn btn-custom-secondary" asp-action="Index">Voltar</a>
                            <input type="submit" value="Salvar" class="btn btn-custom-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
