@model MVC.Models.Orcamento

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/orcamentos.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/magic-suggest/magicsuggest.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css" asp-append-version="true" />




@* <div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @Html.Partial("_SidebarComponent")
            <div class="col-md-4 py-5 container-fluid">
                <div class= "table-bg" style="max-height: 100vh; overflow:auto;">
                <form class="d-flex flex-column gap-2" asp-action="Create" id="form">
                    <h3>Novo Orçamento</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ClienteCpfNavigation.Nome" class="control-label">Cliente</label>
                    <input asp-for="ClienteCpfNavigation.Nome"
                        class="form-control"
                        style="display: none;"
                        id="hidden-client-input"
                    />
                    <div id="client-select" class="form-control"></div>
                </div>

                <div class="form-group">
                    <label asp-for="ClienteCpfNavigation.Telefone" class="control-label">Telefone</label>
                    <input asp-for="ClienteCpfNavigation.Telefone" class="form-control" id="phone-input" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="ClienteCpfNavigation.Email" class="control-label">E-mail</label>
                    <input asp-for="ClienteCpfNavigation.Email" class="form-control" id="email-input" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="ClienteCpfNavigation.Endereco" class="control-label">Endereço</label>
                    <input asp-for="ClienteCpfNavigation.Endereco" class="form-control" id="address-input" disabled/>
                </div>

                <div class="form-group">
                    <label asp-for="FerramentaCodigoNavigation.Descricao" class="control-label">Ferramenta</label>
                    <input asp-for="FerramentaCodigoNavigation.Descricao" class="form-control" id="hidden-tools-input" style="display: none;" />

                    <div id="tools-select" class="form-control"></div>
                </div>

                <div class="form-group">
                    <label asp-for="DataOrcamento" class="control-label"></label>
                    <input asp-for="DataOrcamento" class="form-control"  id="hidden-initial-date-input" style="display: none;"/>
                    <span asp-validation-for="DataOrcamento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataValidade" class="control-label"></label>
                    <input asp-for="DataValidade" class="form-control" id="hidden-final-date-input" style="display: none;"/>
                    <span asp-validation-for="DataValidade" class="text-danger"></span>

                    <label  class="control-label">Período</label>
                    <input type="text" name="daterange" class="form-control" id="date-range"/>
                    <span asp-validation-for="DataValidade" class="text-danger"></span>
                    <span asp-validation-for="DataOrcamento" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ValorTotal" class="control-label">Valor Total: R$</label>
                    <input asp-for="ValorTotal" class="form-control"  value="00,00" id="total-input" disabled />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a class="btn btn-custom-ghost" asp-action="Index" id="gerar-orcamento">Gerar Orçamento</a>
                    <input type="submit" value="Gerar Aluguel" class="btn btn-custom-primary" />
                </div>
            </form>
            </div>
        </div>
    </div>
</div> *@

<div class="container-fluid position-fixed">
    <div class="row flex-nowrap">
        @await Html.PartialAsync("_SidebarComponent")
        <div class="col-6 py-6 container-fluid">
            <div class="table-bg" style="max-height: 100vh; overflow:auto;">
                <h3>Novo Orçamento</h3>
                <form class="row">
                    <div class="col-md-12">
                        <label class="form-label">Cliente</label>
                        <div id="client-select" class="form-control"></div>
                    </div>

                    <div class="col-md-12 mt-2">
                        <div class="form-label">Email</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="email">
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-label">Telefone</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="telefone">
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-label">Data Nascimento</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="data-nascimento">
                        </div>
                    </div>

                    <div class="col-md-8 mt-2">
                        <div class="form-label">Rua</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="logradouro">
                        </div>
                    </div>

                    <div class="col-md-4 mt-2">
                        <div class="form-label">Complemento</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="complemento">
                        </div>
                    </div>

                    <div class="col-md-3 mt-2">
                        <div class="form-label">Número</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="numero">
                        </div>
                    </div>

                    <div class="col-md-9 mt-2">
                        <div class="form-label">Bairro</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="bairro">
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-label">Cidade</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="cidade">
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-label">UF</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="estado">
                        </div>
                    </div>

                    <div class="col-md-8 mt-2">
                        <div class="form-label">CEP</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="cep">
                        </div>
                    </div>

                    <div class="col-md-4 mt-2">
                        <div class="form-label">País</div>
                        <div class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; cursor: not-allowed; min-height: 36px;" id="pais">
                        </div>
                    </div>

                    <div class="col-md-12 mt-2">
                        <div class="form-label">Ferramenta</div>
                        <div id="tools-select" class="form-control"></div>
                    </div>

                    <div class="col-md-12 mt-2">
                        <div class="form-label">Período</div>
                        <input type="text" name="daterange" class="form-control" id="date-range" />
                    </div>

                    <div class="col-md-4 mt-2">
                        <div class="form-label">Valor Total</div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">R$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="total-input" disabled>

                        </div>
                    </div>

                    <div class="container d-flex justify-content-between">
                        <div class="align-left">
                            <a class="btn btn-custom-ghost" asp-action="Index">Voltar</a>
                        </div>
                        <div class="d-flex align-right">
                            <a class="btn btn-custom-secondary me-2" id="gerar-orcamento">Gerar Orçamento</a>
                            <input type="submit" value="Gerar Aluguel" class="btn btn-custom-primary" />
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div id="pdfTemplate" hidden>
            <div class="container"  id="pdf-content">
                <img class="container d-flex align-content-center mt-5" src="~/assets/img/alugueltechlogo.svg" style="max-width: 200px;">
                <h4 class="text-center fw-bold mt-5">Orçamento</h4>
                
                <div class="ms-4">
                    <div class="container p-5">
                        <h6><span class="fw-bold">Cliente:</span> Pedro Santos</h6>
                        <h6><span class="fw-bold">Telefone:</span> 31 99999-9999</h6>
                        <h6><span class="fw-bold">Email:</span> pedro@teste.com</h6>
                        <h6><span class="fw-bold">Endereço:</span> Rua Logo Ali, 10, Pertinho - Belo Horizonte - MG</h6>
                        <br />

                        <h6 class="fw-bold mb-4">Ferramentas:</h6>
                        <h6>WAP Furadeira e Parafusadeira 600W</h6>
                        <span>Valor Aluguel: R$30,00</span>
                        <span>Valor Diária: R$10,00</span>
                        <hr />

                        <h6>Bosch Serra Circular Gks 150 1500W 220V</h6>
                        <span>Valor Aluguel: R$30,00</span>
                        <span>Valor Diária: R$10,00</span>
                        <hr />

                        <h6>Martelo de aço</h6>
                        <span>Valor Aluguel: R$10,00</span>
                        <span>Valor Diária: R$8,00</span>
                        <hr />


                        <h6 class="fw-bold mt-3">TOTAL: R$ 306,00</h6>
                        <h6>Data: 08/11/2023</h6>
                    </div>
                </div>  
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



   
   
    <script type="text/javascript" src="~/lib/jsPDF/jspdf.min.js"></script>
     @* <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script> *@
    <script type="text/javascript" src="~/lib/html2canvas/html2canvas.min.js"></script>
    <script type="text/javascript" src="~/lib/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/magic-suggest/magicsuggest.js"></script>
    <script src="~/js/orcamentos.js" type=module></script>
}
