a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:inherit;
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.table-bg {
    display: block;
    padding: 20px 40px;
    background-color: var(--color-light-grey);
}

.table-actions {
    color: var(--color-dark-grey);
}

.search-bar {
    width: 100%;
}

.search-bar input {
    flex: 1;
    width: 100%;
    outline: none;
    padding: 0 1rem;
}

.search-bar input {
    width: fit-content;
}