@model MVC.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tpessoa" class="control-label"></label>
                <select asp-for="Tpessoa" class="form-control" asp-items="Html.GetEnumSelectList<Tpessoa>()"></select>
                <span asp-validation-for="Tpessoa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enum_sexo_client" class="control-label"></label>
                <select asp-for="Enum_sexo_client" class="form-control" asp-items="Html.GetEnumSelectList<Enum_sexo_client>()"></select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Endereco.Logradouro" class="control-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Endereco.Numero" class="control-label"></label>
                <input asp-for="Endereco.Numero" class="form-control" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Bairro" class="control-label"></label>
                <input asp-for="Endereco.Bairro" class="form-control" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cidade" class="control-label"></label>
                <input asp-for="Endereco.Cidade" class="form-control" />
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Estado" class="control-label"></label>
                <input asp-for="Endereco.Estado" class="form-control" />
                <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Pais" class="control-label"></label>
                <input asp-for="Endereco.Pais" class="form-control" />
                <span asp-validation-for="Endereco.Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cep" class="control-label"></label>
                <input asp-for="Endereco.Cep" class="form-control" />
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
